@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --text: #000000;
  --highlight: #ffffff;
  --bg: #030104;
}

body {
  -webkit-tap-highlight-color: transparent;
  color: #ffffff;
  background-color: var(--bg);
}

.transparent {
  background-image: url('../public/transparent.png');
}